# File generated with ansible collection
backup_dir="{{ ncbackup_backup_dir }}"
remote_backup_dir="{{ ncbackup_remote_backup_dir }}"
db_user="{{ ncbackup_backup_db_user }}"
db_pass="{{ ncbackup_backup_db_passwod }}"
db_port="{{ ncbackup_backup_db_port }}"
vg_name="{{ ncbackup_vg_name }}"
lv_nextcloud="{{ ncbackup_lv_nextcloud }}"
www_dir="{{ ncbackup_www_dir }}"
ftp_user="{{ ncbackup_ftp_user }}"
ftp_pass="{{ ncbackup_ftp_password }}"
ssh_user="{{ ncbackup_ssh_user }}"
remote_dir="{{ ncbackup_remote_dir }}"
remote_host="{{ ncbackup_remote_host }}"
remote_mac="{{ ncbackup_mac_remote }}"
backup="{{ ncbackup_enabled }}"
announce="{{ ncbackup_announce }}"
announce_user="{{ ncbackup_announce_user }}"
clean="{{ ncbackup_rotate }}"
min_days="{{ ncbackup_min_days_rotate }}"
backup_count="{{ ncbackup_backup_count }}"
backup_type="{{ ncbackup_type }}"
snapshot_size="{{ ncbackup_snapshot_size }}"
web_server_conf="{{ ncbackup_www_config }}"
